#calendar-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px;
}
#calendar-container .simple-calendar-btn{
    display: none;
}
